<% include ./header.ejs %>
<div id="app"><%- markup %></div>

<div class="strava-container">

<ul>
<li>
	Number of Recent Rides:
	<%= results.recent_ride_totals.count %>
</li>
<li>
	Distance of Recent Rides:
	<%= results.recent_ride_totals.distance %> Miles
</li>
<li>
	Elevation Gain of Recent Rides:
	<%= results.recent_ride_totals.elevation_gain %> Feet
</li>

</ul>

</div>

<div class="forecast-container">
<h2> How is the Weather? </h2>
<ul>
<% forecast.forEach(function(r) { %>
    <li> At <%= r.time %> </li>
    <li> the probability of Rain is <%= r.precipProbability %>% </li>
    <li> with a temperature of <%= r.temperature %>° Fahrenheit </li>
    <br/>
<% }); %>
</ul>
</div>
<% include ./footer.ejs %>
