<% include ./header.ejs %>
<div id="app"><%- markup %></div>

<div class="strava-container">

<ul>
<li>
	Number of Recent Rides:
	<%= results.recent_ride_totals.count %>
</li>
<li>
	Distance of Recent Rides:
	<%= results.recent_ride_totals.distance %> Miles
</li>
<li>
	Elevation Gain of Recent Rides:
	<%= results.recent_ride_totals.elevation_gain %> Feet
</li>

</ul>

</div>

<h2> Biking Weather?? </h2>
<div class="forecast-container">
<% forecast.forEach(function(r) { %>
<div class="forecastStuff">
<ul>
    <i class="wi <%= r.icon %> weather-icon-size"></i>
    <li> <%= r.time %> </li>
    <li> Temperature: <%= r.temperature %>° Fahrenheit </li>
    <li> Chance of Rain: <%= r.precipProbability %>% </li>
</ul>
</div>
<% }); %>
</div>
<% include ./footer.ejs %>
